# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\This PC\Desktop\Thiện\Code\Thiện 2\C0721G1-Nguyen-Duc-Thien\okokok\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
